@charset "UTF-8";

@font-face {
  font-family: 'GOT_font';
  src: url('Game_of_Thrones.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{ background-image: url(../images/grungeBG.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000000;
  font-size: 18px;
}


main{
  position: relative;
  width: 100%;
  text-align: center;
  top: 30px;

}

h1 {
  font-family: 'GOT_font';
  color: white;
  margin-top: 30px;
  font-size:1.25em;
}

#houseImages { position: relative;
  width: 4000px;
  transition: all.8s;
}


#imageContainer {
  width: 600px;
  height: 360px;
  background-color: grey;
  margin: 0 auto;
  overflow: hidden;
}



#houseImages img {
   float: left;
 }



#navList li {
  display: inline;
  list-style-type: none;
  padding: 0px 10px;
  cursor: pointer;
}

#bottomNav {
  margin-top: 30px;
}

.sigilContainer {
  width: 51px;
  height: 54px;
  display: inline-block;
  overflow: hidden;
  background-image: url(../images/GOT_sprites.png);
  background-repeat: no-repeat;
  transition: transform .3s;
  -webkit-transition:-webkit-transform .3s;
  -moz-transition:-moz-transform .3s;
}

.stark { background-position:0px -54px; }
.stark:hover { background-position:0px 0px; }

.baratheon { background-position: -50.5px -54px; }
.baratheon:hover { background-position:-51px 0px; }

.lannister { background-position: -101px -54px; }
.lannister:hover { background-position:-101px 0px; }

.tully { background-position: -152px -54px; }
.tully:hover { background-position:-152px 0px; }

.greyjoy { background-position: -202px -54px; }
.greyjoy:hover { background-position: -202px 0px; }

.arryn { background-position: -253px -54px; }
.arryn:hover { background-position: -253px 0px; }


.lightbox {
  position: absolute;
  width: 43vw;
  height: 26vw;
  margin-left: 28.5vw;
  margin-top: 2.1vw;
  display: none;
  top: 0;
  background-color: rgba(0, 0, 0, 0.85);

}


.show-lightbox {
  display: block;

}



.close{
  padding: 10px;
  padding-top: 10px;
  padding-right: 30px;
  float: right;
  color: white;
  cursor: pointer;
  font-size: 2em;
  font-family: arial;

}


.house-info {
  width: 70%;
  font-size: 1em;
  line-height: 2;
  color: white;
  margin: 2em auto 0;
}


video {
  margin-top: -14%;
  width: 140%;
  margin-left: -140px;
  height: 150%;
  border: solid white;
  background-color: grey;
  opacity: 0.34;
  
  

}


.videoControls img 
{
  
  height: 30px;
/*   width: 30px; */
/*   margin-right: 20px; */
  padding: 3px;
  margin-top: 5px;
  background-color: white;
/*   opacity: 0.54 */
  justify-content: center;
  margin-left: 180px;
 
}

.videoControls img:hover {
  border: 54px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 4px;

}

